################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/packages/Newtonsoft.Json.8.0.3/lib/net20
